:root {
  --clr-primary-900: #000;
  --clr-primary-900-fixed: #000;
  --clr-secondary-100: #fff;
  --clr-secondary-300: #f2f2f2;
  --clr-secondary-100-fixed: #fff;
  --clr-accent-500: #5f8cad;
  --padding-inline-1: 1em;
  --ff-primary: "Nohemi", sans-serif;
  --fw-primary: 400;
  --fs-primary: 1rem;
  --fs-secondary: 1.2rem;
  --fs-tertiary: 1.5rem;
  --fs-title: 4.5rem;
  --border-style-transparent: 2px solid transparent;
  --border-style-1: 2px solid var(--clr-primary-900);
  --border-radius-pill: 100vh;
  --border-radius-primary: 15px;
  --custom-ease-1: cubic-bezier(0.06, 0.85, 0.58, 1);
  --custom-ease-2: cubic-bezier(0.11, 0.47, 0.31, 0.88);
  --custom-ease-3: cubic-bezier(0.58, 0, 0.4, 0.9);
  --transition-medium: all 700ms var(--custom-ease-2);
  --transition-short: all 500ms var(--custom-ease-2);
  --transition-extrashort: all 200ms var(--custom-ease-2);
  --transition-mediumlong-3: all 900ms var(--custom-ease-3);
  --header-height: 100px;
}

@font-face {
  font-family: "Nohemi";
  src: url(../fonts/Nohemi-Variable.ttf) format("truetype");
  font-weight: 100 900;
}
body {
  background-color: var(--clr-secondary-100);
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary);
  font-size: var(--fs-primary);
  overflow-x: hidden;
  color: var(--clr-primary-900);
}

/*  Button Styles  */
.btn {
  border: var(--border-style-transparent);
  text-decoration: none;
  color: var(--clr-primary-900);
  display: block;
  overflow: hidden;
  height: 50%;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  transition: var(--transition-short);
}
.btn .btn-text {
  display: grid;
  gap: 1rem;
  transition: var(--transition-short);
  flex-shrink: 0;
}
.btn:hover > .btn-text {
  transform: translateY(calc(-2.4 * var(--fs-primary)));
}
.btn:focus {
  transform: scale(0.9);
}

.btn-outline {
  border-radius: var(--border-radius-pill);
  border: var(--border-style-1);
}
.btn-outline:hover {
  background-color: var(--clr-primary-900);
}
.btn-outline:hover > .btn-text {
  color: var(--clr-secondary-100);
}

.btn-filled-icon {
  border-radius: var(--border-radius-pill);
  border: var(--border-style-1);
  background-color: var(--clr-primary-900);
  color: var(--clr-secondary-100);
}
.btn-filled-icon .btn-icon {
  transition: var(--transition-short);
  transition-delay: 80ms;
  mix-blend-mode: difference;
}
.btn-filled-icon:hover > .btn-icon {
  transform: translateX(5px);
}

.dropdown-btn {
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--border-style-1);
  display: grid;
  place-items: center;
  background-color: transparent;
  transition: var(--transition-extrashort);
  cursor: pointer;
}
.dropdown-btn .dropdown-btn__arrow {
  width: 0.7rem;
  height: 0.7rem;
  padding-bottom: 0.05rem;
  transition: var(--transition-extrashort);
}
.dropdown-btn:hover {
  background-color: var(--clr-primary-900);
}
.dropdown-btn:hover .dropdown-btn__arrow > path {
  stroke: var(--clr-secondary-100);
}
.dropdown-btn[data-active=true] {
  background-color: var(--clr-primary-900);
}
.dropdown-btn[data-active=true] .dropdown-btn__arrow {
  transform: rotate(180deg);
  padding-bottom: 0.1rem;
}
.dropdown-btn[data-active=true] .dropdown-btn__arrow > path {
  stroke: var(--clr-secondary-100);
}

/*  Header + Navigation  */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header .primary-navigation {
  --nav-spacing: 2rem;
  height: var(--header-height);
  background-color: var(--clr-secondary-100);
  z-index: 100;
}
header .primary-navigation__wrapper {
  max-width: 100em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-inline: var(--padding-inline-1);
  height: 100%;
}
header .primary-navigation__links ul {
  display: flex;
  gap: var(--nav-spacing);
  margin-top: 8%;
}
header .hamburger {
  border: none;
  background-color: transparent;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  gap: 0.6rem;
  transition: var(--transition-extrashort);
}
header .hamburger .hamburger__line {
  width: 100%;
  height: 0.15rem;
  background-color: var(--clr-primary-900);
}
header .hamburger:hover {
  gap: 0.8rem;
}
header .hamburger[data-active=true] {
  gap: 0;
}
header .hamburger[data-active=true] .hamburger__line {
  height: 0.05rem;
  transition-delay: 128ms;
}
@media (max-width: 40em) {
  header .mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: calc(var(--padding-inline-1) + var(--header-height));
    margin-inline: var(--padding-inline-1);
    padding-inline: calc(var(--padding-inline-1) * 0.5);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    transform: translateY(-150%);
    transition: var(--transition-medium);
    z-index: -1;
    border-radius: var(--border-radius-primary);
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  header .mobile-navigation ul {
    --spacing: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding-block: var(--spacing);
  }
  header .mobile-navigation li {
    position: relative;
    opacity: 0;
    transition-delay: 500ms;
    text-align: center;
  }
  header .mobile-navigation li:last-of-type header .mobile-navigation li:not(:last-of-type())::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: var(--clr-primary-900);
    left: 0;
    opacity: 0.2;
  }
  header .mobile-navigation li:nth-of-type(1) {
    transition-delay: 300ms;
  }
  header .mobile-navigation li:nth-of-type(2) {
    transition-delay: 450ms;
  }
  header .mobile-navigation li:nth-of-type(3) {
    transition-delay: 600ms;
  }
  header .mobile-navigation li:nth-of-type(4) {
    transition-delay: 750ms;
  }
  header .mobile-navigation li:nth-of-type(5) {
    transition-delay: 900ms;
  }
  header .mobile-navigation li:nth-of-type(6) {
    transition-delay: 1050ms;
  }
  header .mobile-navigation a {
    font-size: var(--fs-secondary);
    font-weight: 300;
    text-decoration: none;
    color: var(--clr-primary-900-fixed);
  }
  header .mobile-navigation .btn:hover > .btn-text {
    transform: translateY(-4rem);
  }
  header .mobile-navigation .btn-filled-icon {
    background-color: var(--clr-secondary-100);
    color: var(--clr-primary-900);
    border: none;
  }
  header .active {
    transform: translateY(0);
  }
  header .active li {
    opacity: 1;
    transition: var(--transition-medium);
    transition-delay: 0ms;
  }
}

/*  Main  */
main section:not(.slider-section) {
  padding-inline: var(--padding-inline-1);
  max-width: 100em;
  margin: 0 auto;
}
main .hero-section {
  -webkit-padding-before: calc(5rem + var(--header-height));
          padding-block-start: calc(5rem + var(--header-height));
}
main .hero-section h1 {
  text-transform: uppercase;
  font-size: min(10rem, 9.9vw);
  line-height: 1.1;
}
main .hero-section h1 .line {
  position: relative;
  height: min(10rem, 9.9vw);
  overflow: hidden;
}
main .hero-section h1 .line span {
  position: absolute;
}
main .hero-section .subtitle {
  font-size: var(--fs-secondary);
  max-width: 30ch;
}
main .hero-section .hero-section__content {
  display: grid;
  align-items: center;
  gap: 1.5rem;
  margin-left: 50%;
}
main .button-container {
  display: flex;
  height: 80px;
  gap: 1rem;
}
main .parallax {
  margin-block: 5rem;
  height: 55rem;
  position: relative;
  border-radius: var(--border-radius-primary);
  overflow: hidden;
}
main .parallax .parallax__image {
  margin-top: -2rem;
  height: 120%;
  transform: scale(1.05);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .slogan-section {
  padding-block: 5rem;
}
main .slogan-section .slogan {
  font-size: 2.8rem;
  line-height: 1.1;
  max-width: 30ch;
  margin-bottom: 1rem;
}
main .slogan-section > * {
  margin-left: 10%;
}
@media (max-width: 40em) {
  main .hero-section {
    -webkit-padding-before: calc(3rem + var(--header-height));
            padding-block-start: calc(3rem + var(--header-height));
  }
  main .hero-section .hero-section__content {
    margin-left: 0%;
    margin-top: 2rem;
  }
  main .hero-section h1 {
    font-size: 9.4vw;
  }
  main .hero-section .parallax {
    -webkit-margin-before: 1rem;
            margin-block-start: 1rem;
    height: 25rem;
  }
  main .hero-section .parallax .parallax__image {
    margin-top: -2rem;
    height: 120%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .slogan-section > * {
    margin-left: 0%;
  }
  main .slogan-section .slogan {
    font-size: 1.8rem;
  }
}
main .slider-section {
  margin-top: 2rem;
  margin-bottom: 10rem;
}
main .slider-section:nth-of-type(even) {
  margin-top: 5rem;
}
main .slider {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  overflow-y: hidden;
  align-items: end;
  height: 32rem;
  direction: ltr;
  overflow-x: hidden;
}
main .slider .slide {
  isolation: isolate;
  width: 40rem;
  border-radius: 15px;
  height: 25rem;
  color: var(--clr-secondary-100-fixed);
  text-align: right;
  padding-inline: calc(var(--padding-inline-1) * 2);
  display: grid;
  justify-content: end;
  align-items: end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  transition: var(--transition-mediumlong-3);
}
main .slider .slide .slide__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateY(15px);
  z-index: 1;
}
main .slider .slide h3 {
  transition: var(--transition-medium);
  font-size: 1rem;
  line-height: 1.15;
}
main .slider .slide .button-container {
  transform: translateX(10px);
  opacity: 0.5;
}
main .slider .slide .btn-filled-icon {
  background-color: var(--clr-secondary-100-fixed);
  color: var(--clr-primary-900-fixed);
  border: none;
  z-index: 4;
}
main .slider .active-slide {
  width: 45rem;
  height: 32rem;
}
main .slider .active-slide h3 {
  font-size: var(--fs-tertiary);
}
main .slider .active-slide .button-container {
  opacity: 1;
}
@media (max-width: 60em) {
  main .slider {
    overflow-x: auto;
    gap: 0;
  }
  main .active-slide,
  main .slide {
    margin-inline: var(--padding-inline-1);
    max-width: calc(70vw - 4 * var(--padding-inline-1));
    height: 32rem !important;
  }
  main .active-slide h3,
  main .slide h3 {
    font-size: var(--fs-tertiary) !important;
  }
  main .active-slide .button-container,
  main .slide .button-container {
    opacity: 1 !important;
  }
}
@media (max-width: 40em) {
  main .active-slide,
  main .slide {
    max-width: calc(100vw - 4 * var(--padding-inline-1));
  }
}
@media (min-width: 60em) {
  main .next-slide-btn,
  main .prev-slide-btn {
    position: fixed;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    opacity: 0;
    color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 100px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
    background-color: var(--clr-secondary-100-fixed);
  }
  main .next-slide-btn {
    background-image: url(../icons/arrow-right-black.svg);
  }
  main .prev-slide-btn {
    background-image: url(../icons/arrow-left-black.svg);
  }
  main .active {
    opacity: 1;
  }
}
main .house-section {
  margin-top: 5rem;
  padding-bottom: 5rem;
}
main .house-section h2 {
  margin-left: 10%;
  font-size: var(--fs-title);
  text-transform: uppercase;
  padding-bottom: 5rem;
}
main .house-section .house {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
main .house-section .house:not(:last-of-type) {
  padding-bottom: 5rem;
}
main .house-section .house__3d {
  position: relative;
}
main .house-section .house__3d .background {
  background-color: var(--clr-accent-500);
  width: 60%;
  height: 100%;
  border-radius: var(--border-radius-primary);
}
main .house-section .house__3d canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
main .house-section .house__details {
  position: relative;
  padding-inline: 1rem;
}
main .house-section .house__details h3,
main .house-section .house__details h4 {
  text-transform: uppercase;
  line-height: 1.1;
}
main .house-section .house__details h3 {
  font-size: calc(var(--fs-tertiary) + 1rem);
  padding-bottom: 1rem;
}
main .house-section .house__details h4 {
  font-size: calc(var(--fs-secondary) + 0.3rem);
  padding-block: 2rem 1rem;
}
main .house-section .house__details ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}
main .house-section .house__details li {
  display: flex;
  justify-content: space-between;
  position: relative;
}
main .house-section .house__details li::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--clr-primary-900);
  opacity: 0.1;
  bottom: 0;
  left: 0;
}
main .house-section .house__details::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.1rem;
  height: calc(100% - 40px);
  left: 0;
  top: 0;
  background-color: var(--clr-primary-900);
}
main .house-section .right {
  grid-template-columns: 1fr 2fr;
}
main .house-section .right .house__details {
  grid-column: 1/2;
  grid-row: 1/2;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
main .house-section .right .house__details::before {
  display: none;
}
main .house-section .right .house__details::after {
  content: "";
  position: absolute;
  display: block;
  width: 0.1rem;
  height: calc(100% - 40px);
  right: 0;
  top: 0;
  background-color: var(--clr-primary-900);
}
main .house-section .right .house__3d {
  grid-column: 2/3;
  grid-row: 1/2;
}
main .house-section .right .house__3d .background {
  margin-left: 40%;
}
@media (max-width: 60em) {
  main .house-section {
    margin-top: 0rem;
    padding-bottom: 4rem;
  }
  main .house-section h2 {
    font-size: calc(var(--fs-tertiary) + 1rem);
    margin-left: 0;
    padding-bottom: 2rem;
  }
  main .house-section .house {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  main .house-section .house__3d {
    min-height: 20rem;
  }
  main .house-section .house__details {
    padding-inline: 0;
  }
  main .house-section .house__details p {
    max-width: 50ch;
  }
  main .house-section .house__details h3 {
    font-size: calc(var(--fs-tertiary) + 0.5rem);
  }
  main .house-section .house__details::before {
    display: none;
  }
  main .right {
    grid-template-columns: 1fr;
  }
  main .right .house__details {
    grid-row: 2/3 !important;
  }
  main .right .house__details::after {
    display: none !important;
  }
  main .right .house__3d {
    grid-column: 1/2 !important;
    grid-row: 1/2 !important;
  }
}
main .faq-section {
  padding-block: 5rem 20rem;
}
main .faq-section h2 {
  width: -moz-min-content;
  width: min-content;
  line-height: 1;
  font-size: calc(var(--fs-title) + 1rem);
  text-transform: uppercase;
  transform-origin: top right;
  display: none;
}
main .faq-section .faq-wrapper {
  margin-left: 10%;
  display: grid;
  gap: 5rem;
  grid-template-columns: auto 1fr;
  padding-right: 10%;
}
main .faq-section .faq-wrapper .faq-container {
  display: grid;
  gap: 1rem;
  height: -moz-fit-content;
  height: fit-content;
}
main .faq-section .faq-wrapper .faq-container .button-container {
  margin-top: 1rem;
}
main .faq-section .faq {
  background-color: var(--clr-secondary-300);
  padding: 1rem;
  border-radius: var(--border-radius-primary);
  position: relative;
  overflow: hidden;
  height: -moz-min-content;
  height: min-content;
}
main .faq-section .faq .faq__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .faq-section .faq .faq__header .faq-header__title {
  font-size: calc(var(--fs-primary) + 0.2rem);
  line-height: 1;
  padding-top: 0.2rem;
}
main .faq-section .faq .faq__answer {
  transition: var(--transition-short);
  position: relative;
  max-height: 0;
  will-change: max-height;
  overflow: hidden;
  padding-top: 0rem;
  opacity: 0;
}
main .faq-section .faq-active .faq-header {
  margin-bottom: 1rem;
}
main .faq-section .faq-active .faq__answer {
  padding-block: 20px;
  opacity: 1;
}
@media (max-width: 60em) {
  main .faq-section {
    padding-block: 5rem 10rem;
  }
  main .faq-section h2 {
    display: block;
    padding-bottom: 2rem;
  }
  main .faq-section .faq-wrapper {
    margin-left: 0;
    padding-right: 0;
    grid-template-columns: 1fr;
  }
  main .faq-section .title-image {
    display: none;
  }
}

/*  Utility Classes  */
.mobile {
  display: flex;
}

.desktop {
  display: none;
}

@media (min-width: 40em) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
/*  Dark Mode  */
@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary-900: #faf6f6;
    --clr-secondary-100: #070a0e;
    --clr-secondary-300: #1c1f24;
  }
  .dropdown-btn__arrow > path {
    stroke: var(--clr-primary-900);
  }
}/*# sourceMappingURL=style.css.map */